@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");

html {
  /* padding will stretch the page 
    prevents from happening horizontal scroll bar*/
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh; /*stretch the height 100%*/
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}
/* title */
h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 40px;
  letter-spacing: 3px;
}

/* loader  */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  /* make image in center regardless of svg size */
  transform: translate(-50%, -50%);
}

/* image conatiner */
.image-container {
  /* left and right make 30% margin and top and bottom just 10 px 
  so image box will cover just 40%
  */
  margin: 10px 30%;
}

.image-container img {
  /* within 40% cover all box i.e 100% */
  width: 100%;
  margin-top: 5px;
}

/* Bottom right text */
.image-container p {
  /* position: relative; */
  background-color: rgba(0, 0, 0, 0.521);
  color: whitesmoke;
  margin-left: 2%;
  margin-right: 50%;
}
.image-container a {
  text-decoration: none;
}
/* media queries: large smartphone */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 18px;
  }

  .image-container {
    margin: 10px 5%;
  }
  .image-container p {
    /* position: relative; */
    font-size: 15px;
    margin-right: 10%;
  }
}
